body{
  font-family: helvetica;
}

.titulo {
  font-size: 100px;
  font-weight: bold;
  color: khaki;

  text-align:center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

#item1, #item2, #item3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  align-content: center;
}

#item1{
  background-color: mediumspringgreen;
}
#item2{
  background-color: lightcoral;
}
#item3 {
  background-color: skyblue;
}

.price{
  font-weight: bold;
  color: blue;
}
